#mapa {
    width: 650px;
    background-color: rgb(13, 1, 0);
    margin: 5% auto;
    height: 500px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 80px);
}

.bloco {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    margin: 5px 5px 5px 5px;
}

tr,
td {
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    border-collapse: collapse;
}

table {
    border: 3px solid grey;
    border-collapse: collapse;
}

html {
    background: rgb(13, 1, 0);
}

.caveira {
    background-image: url(imagens/caveira.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.estrela {
    background-image: url(imagens/estrela.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.moeda {
    background-image: url(imagens/moeda.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.circulo-red {
    border-radius: 100%;
    background-color: rgba(255, 113, 113, 0.897);
}

.circulo-blue {
    border-radius: 100%;
    background-color: rgb(0, 162, 255);
}

.circulo-green {
    border-radius: 100%;
    background-color: rgba(88, 255, 163, 0.849);
}

.dragged {
    width: 60px;
    height: 60px;
}